*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    /* background-color:#fff4d6; */
    overflow: hidden;
    height: 100dvh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#image{
    position: absolute;
    z-index: 1;
    padding: 0;
    height: 200px;
    width: 200px;
    box-shadow:  10px -5px 10px 10px rgb(246, 242, 242,0.7);
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    background: url('portrait_23yo_transparent.png') center;
    background-size: cover;
    background-position:0px bottom left right;
    animation: movement 2.5s ease-out 1s 1 forwards ;
}
@keyframes movement{
    from{transform:translateX(0px)}
    to{transform:translateX(25dvw)}
}
#text{
    text-transform: capitalize;
    height: 140px;
    width: 700px;
    position: relative;
    z-index: -1;
    font-weight:bolder;
    color:#fc6c26;
    opacity: 0;
    animation: motion 3s ease-in-out 1s 1 forwards ;
}
#text-1{
    margin: 0;
    font-size: 3.2rem;
}
#text-2{
    margin: 0 2.5%;
    font-size:1.8rem;
    font-weight:lighter;
}
@keyframes motion {
    from{transform: translateX(0px);
    opacity: 0;}
    to{transform: translate(-25%,-50%);
    opacity: 1;z-index: 1;}
}
#click{
    position: absolute;
    top: 68%;
    width: 100px;
    height: 35px;
    margin-top: 1%;
    margin-left: 70%;
    color: white;
    font-size: large;
    border-style: none;
    text-transform: capitalize;
    background-color: #fc6c26;
    cursor:pointer;
    opacity: 0;
    animation: click 3s ease-in-out 24s forwards;
}
@keyframes click{
    from{opacity: 0;}
    to{opacity: 1;}
}
